body {
	background-color: #e9d2c9;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}
h2 {
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal
	text-decoration: underline;
p {
	color: white;
	text-align: center

}

a {
	color: #000000;
}
